/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.admin-display {
    margin: 0 20px 20px 0;
    display: block;
}

.co-metabox {
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
}

.co-metabox-textbox {
    width: 5em;
}

input.co-shortcode {
    padding: 0 8px;
    border-radius: 3px;
    box-shadow: 0 0 0 transparent;
    border: 1px solid #7e8993;
    background-color: white;
    color: #32373c;
    line-height: 2;
    min-height: 30px;
    margin-right: 5px;
}

.copy-action-btn img {
    display: inline-block;
    width: 12px;
}

.co__dashboard {
    display: flex;
    justify-content: left;
    align-items: center;
}

.co__dashboard span {
    padding-right: 10px;
}

.co__cards {
    box-shadow: 0 3rem 2rem -3rem rgba(0, 0, 0, 0.2);
    border: 1px solid darkcyan;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 1rem;
}

.co__stats {
    display: grid;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 5px;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

.co__card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
}

.co__card p {
    font-size: 1.25rem;
}

.co__card-header,
.co__stat-header {
    padding: 15px;
    display: flex;
    background-color: #cccccc;
    font-size: 1.5rem;
    border-top: 4px solid darkcyan;
    color: #000000;
}

.co__card-body {
    padding: 15px;
    display: flex;
    background-color: #eeeeee;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.co__cards a {
    text-decoration: none;
}

.co__help-text {
    font-style: italic;
}
.co__readings {
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: minmax(500px, 1fr);
}

.co__stat {
    box-shadow: 0 3rem 2rem -3rem rgba(0, 0, 0, 0.2);
    border: 1px solid darkcyan;
    border-radius: 4px;
    padding: 5px;
}

.co__stat-body p {
    text-align: "." right;
    font-size: 1.25rem;
    padding-left: 15px;
}

.co__stat-left {
    float: left;
}

.push-right {
    float: right;
}

.icon-container {
    font-size: 24px;
    height: 24px;
    width: 24px;
}

#wpfooter {
    background-color: #eeeeee;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    display: inline-block;
}
