/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.admin-display {
    display: block;
    margin: 0 20px 20px 0;
}

.co__metabox {
    font-weight: 700;
    margin-bottom: 10px;
    margin-right: 10px;
}

.co__metabox-number {
    width: 5em;
}

.co__shortcode-header {
    background-color: #cccccc;
    border-top: 4px solid darkcyan;
    color: #000000;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
}

.co__shortcode-header p {
    justify-items: center;
}

.co__shortcode-body {
    display: flex;
    justify-content: space-between;
}

.co__shortcode-link {
    position:absolute;
    bottom:0;
}

input.co-shortcode {
    background-color: white;
    border: 1px solid #7e8993;
    border-radius: 3px;
    box-shadow: 0 0 0 transparent;
    color: #32373c;
    line-height: 2;
    margin-right: 5px;
    min-height: 30px;
    padding: 0 8px;
}

.copy-action-btn img {
    display: inline-block;
    width: 12px;
}

.co__dashboard {
    align-items: center;
    display: flex;
    justify-content: left;
}

.co__dashboard span {
    padding-right: 10px;
}

.co__dashboard p {
    margin-left: auto;
    margin-right: 7px;
}

.co__cards {
    border: 1px solid darkcyan;
    border-radius: 4px;
    box-shadow: 0 3rem 2rem -3rem rgba(0, 0, 0, 0.2);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 5px;
}

.co__stats {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(175px, auto));
    display: grid;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 5px;
}

.co__card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
}

.co__card p {
    font-size: 1.25rem;
}

.co__card-header,
.co__stat-header {
    background-color: #cccccc;
    border-top: 4px solid darkcyan;
    color: #000000;
    display: flex;
    font-size: 1.5rem;
    line-height: 1em;
    padding: 15px;
}

.co__card-body {
    align-items: center;
    background-color: #eeeeee;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-between;
    padding: 15px;
}

.co__cards a {
    text-decoration: none;
}

.co__help-text {
    font-style: italic;
}
.co__readings {
    display: grid;
    grid-template-columns: minmax(500px, 1fr);
    margin: 1rem 0 1rem 0;
}

.co__stat,
.co__card_reading_metabox {
    border: 1px solid darkcyan;
    border-radius: 4px;
    box-shadow: 0 3rem 2rem -3rem rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.co__stat-body p {
    font-size: 1.25rem;
    padding-left: 15px;
    text-align: "." right;
}

.co__stat-left {
    float: left;
}

.co__icon-container{
    float: right;
    font-size: 24px;
    height: 24px;
    width: 24px;
}

/* #wpfooter {
    background-color: #eeeeee;
    bottom: 0;
    display: inline-block;
    position: fixed;
    top: auto;
    width: 100%;
} */