/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.admin-display
{
    display:block;
    margin:0 20px 20px 0;
}

.card-oracle-back-button
{
    display:block;
	margin-left:auto;
}

.card-oracle-card
{
	border:2px solid #e7e7e7;
	border-radius:4px;
}

.card-oracle-card p
{
	font-size:1.25rem;
}

.card-oracle-card-body
{
	align-items:center;
	background-color:#eee;
	display:flex;
	font-size:1.25rem;
	justify-content:space-between;
	padding:15px;
}

.card-oracle-card-header,.card-oracle-stat-header
{
	background-color:#ccc;
	border-top:4px solid #008B8B;
	color:#000;
	display:flex;
	font-size:1.5rem;
	line-height:1em;
	padding:15px;
}

.card-oracle-cards
{
	border:1px solid #008B8B;
	border-radius:4px;
	box-shadow:0 3rem 2rem -3rem rgba(0,0,0,0.2);
	display:grid;
	gap:1rem;
	grid-template-columns:repeat(auto-fit,minmax(175px,1fr));
	margin:0 auto 1rem;
	padding:5px;
}

.card-oracle-cards a
{
	text-decoration:none;
}

.card-oracle-dashboard
{
	align-items:center;
	display:flex;
	justify-content:left;
}

.card-oracle-dashboard h1
{
	margin-left:7px;
	margin-right:auto;
}

.card-oracle-dashboard span
{
	padding-right:10px;
}

.card-oracle-dashboard-content
{
	margin-top:10px;
}

.card-oracle-h1
{
	display:inline-block;
}

.card-oracle-help-text
{
	font-style:italic;
}

.card-oracle-icon-container
{
	float:right;
	font-size:24px;
	height:24px;
	width:24px;
}

.card-oracle-metabox
{
	font-weight:700;
	margin-bottom:10px;
	margin-right:10px;
}

.card-oracle-metabox-number
{
	width:5em;
}

.card-oracle-multibox
{
	margin-right:10px;
}

.card-oracle-multiflex
{
	align-items:baseline;
	display:flex;
	flex-wrap:wrap;
	margin-left:-10px;
	margin-top:-10px;
}

.card-oracle-multiitem
{
	background:#008B8B;
	border-radius:10px;
	box-sizing:border-box;
	color:#FFF;
	flex:0 0 200px;
	flex-shrink:0;
	margin-left:10px;
	margin-top:10px;
	padding:10px;
}

.card-oracle-multiitem label
{
	vertical-align:baseline;
}

.card-oracle-reading
{
	font-size:14px;
	font-weight:600;
}

.card-oracle-reading-table p
{
	margin-top:0;
}

.card-oracle-reading-table td
{
	padding:15px 10px;
	text-align:left;
	vertical-align:middle;
}

.card-oracle-reading-table th
{
	font-size:14px;
	font-weight:600;
	padding:18px 10px 20px 0;
	text-align:left;
	vertical-align:top;
}

.card-oracle-readings
{
	display:grid;
	grid-template-columns:minmax(500px,1fr);
	margin:1rem 0;
}

.card-oracle-shortcode-body
{
	display:flex;
	justify-content:space-between;
}

.card-oracle-shortcode-header
{
	background-color:#ccc;
	border-top:4px solid #008B8B;
	color:#000;
	display:flex;
	font-size:1.25rem;
	justify-content:center;
}

.card-oracle-shortcode-header p
{
	justify-items:center;
}

.card-oracle-shortcode-link
{
	bottom:0;
	position:absolute;
}

.card-oracle-slider
{
	-webkit-transition:.4s;
	background-color:#ccc;
	bottom:0;
	cursor:pointer;
	left:0;
	position:absolute;
	right:0;
	top:0;
	transition:.4s;
}

.card-oracle-slider.round
{
	border-radius:29px;
}

.card-oracle-slider.round:before
{
	border-radius:50%;
}

.card-oracle-slider:before
{
	-webkit-transition:.4s;
	background-color:#FFF;
	bottom:4px;
	content:"";
	height:21px;
	left:4px;
	position:absolute;
	transition:.4s;
	width:21px;
}

.card-oracle-stat,.card-oracle-card_reading_metabox
{
	border:1px solid #008B8B;
	border-radius:4px;
	box-shadow:0 3rem 2rem -3rem rgba(0,0,0,0.2);
	padding:5px;
}

.card-oracle-stat-body p
{
	font-size:1.25rem;
	padding-left:15px;
	text-align:. right;
}

.card-oracle-stat-left
{
	float:left;
}

.card-oracle-stats
{
	display:grid;
	gap:1rem;
	grid-template-columns:repeat(auto-fill,minmax(175px,auto));
	margin:0 auto 1rem;
	padding:5px;
}

.card-oracle-switch
{
	display:inline-block;
	height:29px;
	position:relative;
	width:55px;
}

.card-oracle-switch input
{
	display:none;
}

.card-oracle-version
{
	margin-left:auto;
	margin-right:7px;
}

.copy-action-btn img
{
	display:inline-block;
	width:12px;
}

input.card-oracle-shortcode
{
	background-color:#FFF;
	border:1px solid #7e8993;
	border-radius:3px;
	box-shadow:0 0 0 transparent;
	color:#32373c;
	line-height:2;
	margin-right:5px;
	min-height:30px;
	padding:0 8px;
}

input:checked + .card-oracle-slider
{
	background-color:#008B8B;
}

input:checked + .card-oracle-slider:before
{
	-ms-transform:translateX(26px);
	-webkit-transform:translateX(26px);
	transform:translateX(26px);
}

input:focus + .card-oracle-slider
{
	box-shadow:0 0 1px #2196F3;
}